.protected {
	display: grid;

	grid-template-columns: 100px calc(100% - 100px);

	grid-template-areas: "nav content";
	height: 100%;
	overflow: hidden;
	padding-bottom: 2rem;
	&__nav {
		grid-area: nav;
	}

	&__content {
		grid-area: content;
		margin-top: 1rem;
		width: calc(100% - 2rem);
	}
	@media (max-width: 900px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
